
.latest-tutorials-text {
    font-family: Avenir Next;
    font-weight: bold;
    font-size: 48px;
}

.tutorial-box {
    background-color: white;
    border-radius: 3%;
    transition: box-shadow .3s;
}

.tutorial-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.tutorial-content {
    background-color: clear;
    padding: 10px; 10px; 10px; 10px;
    color: black;
}

.tutorial-box-image {
    background-color: clear;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.tutorial-title-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: -3px;
    margin-left: 12px;
    color: black;
}

.tutorial-description-text {
    font-weight: medium;
    font-size: 17px;
    margin-top: 20px;
    color: black;
}

.date-text {
    font-size: 15px;
    margin-left: 10px;
    color: black;
}

.tutorial-category-box {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}







