
.nav-container {
    width: 212px;
    height: 700px;
    background-color: #f6f6f6;
    float: left;
    position: fixed;
}

.vaporcasts-text {
    font-family: Avenir Next;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 15px;
}

.title-header {
    font-family: Avenir Next;
    font-size: 21px;
    font-weight: medium;
    color: #F82665;
}

.nav-options {
    font-family: Avenir Next;
    font-size: 17px;
    font-weight: normal;
}

.sidebar-link {
    color: black;
}

a:hover {
    color:  #F82665;
}
